body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 0 0 20px 0;
}

.grid-container {
    display: grid;
    /* La siguiente línea hace que el grid tenga 4 columnas con el mismo ancho */
    grid-template-columns: repeat(4, 1fr);
    width: 310px;
    margin: 0 auto;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
    background-color: lightgray;
    /* El box-shadow funciona de forma similar al text-shadow */
    box-shadow: 1px 3px 5px grey;
}

.grid-container>div:first-child {
    /* Las siguientes líneas producen que la pantalla ocupe toda la primera fila */
    grid-column-start: 1;
    grid-column-end: -1;
}

#pantalla {
    width: 100%;
    /* La siguiente línea evita que la pantalla ocupe espacio por fuera del div */
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.5em;
    text-align: right;
    border-radius: 10px;
}


input[type="button"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background-color: seagreen;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: gray;
}
