body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white
}

header {
    margin: 0;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    /* La siguiente línea hace que el grid tenga 4 columnas con el mismo ancho */
    grid-template-columns: repeat(4, 1fr);
    margin: 0 35%;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    background-color: lightgray;
    /* El box-shadow funciona de forma similar al text-shadow */
    box-shadow: 1px 3px 5px grey;
}

.grid-container>div:first-child {
    /* Las siguientes líneas producen que la pantalla ocupe las 4 columnas */
    grid-column-start: 1;
    grid-column-end: 5;
}

#pantalla {
    width: 100%;
    /* La siguiente línea evita que la pantalla sobresalga del div */
    box-sizing: border-box;
    padding: 20px;
    font-size: 1.5em;
    text-align: right;
    border-radius: 10px;
    border: 2px inset;
}


input[type="button"] {
    width: 100%;
    margin: 0;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: darkslategray;
    color: white;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: lightslategray;
    color: black;
}